*/xcuserdata
Calculator.xcodeproj/project.xcworkspace/xcuserdata/
dist/*.lz
dist/*.gz
dist/gmp/*
dist/mpfr/*
dist/xcframework/*
dist/build.log
dist/iPhone
dist/arm64-catalyst
dist/arm64-simulator
dist/x86_64-catalyst
dist/x86_64-simulator
dist/simulator
dist/catalyst
dist/signed
dist/gmp.xcframework
dist/mpfr.xcframework
~$*
